.example-container {
    height: 100vh;
}


.mat-drawer {
    transform: translate3d(-90%, 0, 0);
    // right: 0;
    max-width: 300px;
    width: 100%;
}






.mat-drawer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.toggle-btn-wrapper {
    max-width: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;

    .mat-mdc-button-base {
        padding: 10px;
        max-width: 50px;
        width: 100%;
        min-width: unset;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        .mat-icon {
            margin: 0;
        }
    }

}

// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
  


section.main {
    .container {
        .mat-card-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            
            .mat-mdc-card.mdc-card {
                max-width: calc(100% / 4 - 20px);
                width: 100%;
                height: 100px;
            }
        }

        .form-tab-card-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: flex-start;
        

            .tabs-card-wrapper, .form-card-wrapper {
                max-width: calc(100% / 2 - 15px);
                width: 100%;
                padding: 20px;


                .example-form {
                    mat-form-field.example-full-width {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }

            .tabs-card-wrapper {
                .content-wrapper {
                    max-width: fit-content;
                    padding: 20px;
                    margin: auto;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: flex-start;

                    > div {
                        max-width: fit-content;
                    }
                }
            }
        }
    }
}